# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm / IDE configs
.vscode/
.idea/

# Logs and debug
*.log
*.out
*.err

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
pytest_cache/

# MacOS files
.DS_Store

# Build artifacts
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.swp
*.swo